{% extends "nav.html"%}
{% block title %}{% endblock %}
{% block content %}
<h3 align="center">Start an Analysis</h3>
<style>
.loading-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
}

.displaydata{
    white-space: pre-wrap; 
    word-wrap: break-word;
}
#process-data {
    font-family: Arial, sans-serif;
}
#process-data th, #process-data td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#process-data th {
    background-color: #f2f2f2;
}
#process-data tbody tr:hover {
    background-color: #f5f5f5;
}
</style>   

<form method="POST" enctype="multipart/form-data">
    <label for="text">Description:</label>
    <textarea name="text" id="text" class="form-control"></textarea>
    <br>
    <label for="file">File:</label>
    <input type="file" name="file" id="file" class="form-control-file" onchange="validateFile()">
    <br>
    <div align="left" style="margin-top:20px">
        <button type="submit" class="btn btn-lg btn-primary">Start Analyzer</button>
        <a href="\home" style="margin-left:30%"><button id="back" type="button" class="btn btn-lg btn-secondary">Back</button></a>
        <button id="save" type="button" class="btn btn-lg btn-success" style="margin-left:30%">Save</button></a>
    </div>

    
</form>
<br>

<!-- Display area for data read from uploaded file -->
<div align="left" style="width:fit-content">
    <label>Data from uploaded file:</label>
    <pre id="file-data" class="displaydata"></pre>
</div>

<!-- Display area for data Preprocess -->
<div align="left" style="width:fit-content">
    <label>Overall reviews sentiment:</label>
    <pre id="OverallSentiment" class="displaydata"></pre>
</div>

<div align="left" style="width:fit-content">
    <label>Domain sentences Analysis result:</label>
    <pre id="Domainsentiment" class="displaydata"></pre>
</div>

<br/>
<table id="process-data" style="border-collapse: collapse; width: 100%;caption-side: top;">
    <caption>Entities feedback summary</caption>
    <thead style="background-color: #f2f2f2;">
        <tr>
            <th >Domain</th>
            <th >Entity</th>
            <th >Negative Sentences Amount</th>
            <th >All Sentences Amount</th>
            <!-- Add more columns as needed based on your DataFrame structure -->
        </tr>
    </thead>
    <tbody></tbody>
</table>



<!-- JavaScript to send form data to backend and display data from backend response -->
<script>
    function validateFile() {
        var fileInput = document.getElementById('file');
        var file = fileInput.files[0];
        

        // Validate file size
        var fileSize = file.size;
        if (fileSize === 0) {
            alert('Error: File size cannot be 0.');
            fileInput.value = ''; // Reset file input
            return;
        }
        if (fileSize > 5 * 1024 * 1024) {
            alert('Error: File size cannot exceed 5 MB.');
            fileInput.value = ''; // Reset file input
            return;
        }

        // Validate file type
        var allowedFileTypes = ['xls', 'xlsx', 'csv'];
        var fileType = file.name.split('.').pop().toLowerCase();
        if (!allowedFileTypes.includes(fileType)) {
            alert('Error: Only files with xls, xlsx, or csv extensions are allowed.');
            fileInput.value = ''; // Reset file input
            return;
        }


        
        
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault();
            // Display loading popup
            var loadingPopup = document.createElement('div');
            loadingPopup.innerHTML = '<p>Data Processing...</p>';
            loadingPopup.classList.add('loading-popup');
            document.body.appendChild(loadingPopup);
            var fileInput = document.getElementById('file');
            var file = fileInput.files[0];
            var textarea = document.getElementById('text');
            var textareaValue = textarea.value;
            if (textareaValue=="") {
                alert('Error: Please input Description to start.');
                return;
            }
              
            var formData = new FormData();
            formData.append('file', file);
            formData.append('text', textareaValue);
            
            // Send form data to backend using fetch
            fetch('/create-post', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.body.removeChild(loadingPopup);
               // Access the returned values from the JSON response
                var TranslateResult = data.TranslateResult;
                var OverallResult = data.OverallResult;
                var Newdomainsentiment = data.Newdomainsentiment;
                var df_sorted = data.df_sorted;

                 // Update the DOM elements with the retrieved data
                 var fileDataElement = document.getElementById('file-data');
                 var OverS = document.getElementById('OverallSentiment');
                 var DomainS = document.getElementById('Domainsentiment');
                 var processDataElement = document.querySelector('#process-data tbody');
 
                 fileDataElement.textContent = TranslateResult;
                 OverS.textContent = OverallResult;
 
                // Process the 'Newdomainsentiment' list
                var sentimentListElement = document.createElement('ul');
                Newdomainsentiment.forEach(function(item) {
                    var listItemElement = document.createElement('li');
                    listItemElement.textContent = item;
                    sentimentListElement.appendChild(listItemElement);
                });
                DomainS.innerHTML = '';
                DomainS.appendChild(sentimentListElement);

                // Process the 'df_sorted' DataFrame
                processDataElement.innerHTML = '';
                df_sorted.forEach(function(row) {
                    var newRow = document.createElement('tr');
                    for (var key in row) {
                        var newCell = document.createElement('td');
                        newCell.textContent = row[key];
                        newRow.appendChild(newCell);
                    }
                    processDataElement.appendChild(newRow);
                });
            })
            .catch(error => {
                document.body.removeChild(loadingPopup);
                console.error('Error:', error);
            });
        });

        var Desctext;
        var textarea = document.getElementById('text');
        var textareaValue = textarea.value;
        Desctext="["+textareaValue+"]  ";

        document.querySelector('#save').addEventListener('click', function() {

            var fileData = document.getElementById('file-data').textContent;
            var overSentiment = document.getElementById('OverallSentiment').textContent;
            var domainSentiment = document.getElementById('Domainsentiment').textContent;
        
            var resultText =Desctext+ fileData + ' ' + overSentiment + ' ' + domainSentiment;
        
            var formData = new FormData();
            formData.append('text', resultText);
        
            fetch('/savepost', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Evaluation Saved!");
                    document.getElementById("back").click();
                } else {
                    alert("Error occurred while saving the evaluation.");
                }
            })
            .catch(error => {
                document.getElementById("back").click();
                console.error('Error:', error);
            });
        });

    }

    
</script>
{% endblock %}
